<!DOCTYPE html>

<head>
    <title>Routage</title>
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css" />
</head>

<body>

    <div class="container" ng-app="app" ng-controller="controller">
        <div class="row">
            <div class="col-md-12">
                <h1>Routage <small>quickly find your routes in an ASP MVC project</small></h1>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <input autofocus placeholder="Start typing a route" class="form-control" ng-model="input" type="text"/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Route</th>
                            <th>Method</th>
                            <th>Function Name</th>
                            <th>Class Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in results track by $index">
                            <td ng-bind-html="result.Route"></td>
                            <td><code>{{ result.Method }}</code></td>
                            <td><code>{{ result.FunctionName }}</code></td>
                            <td><code>{{ result.ClassName }}</code></td>
                        </tr>
                        <tr ng-if="results.length == 0">
                            <td colspan="4" class="text-center">No Matches</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.min.js"></script>
    <script src="https://rawgit.com/mattyork/fuzzy/master/fuzzy-min.js"></script>

    <script>

        angular.module("app", [])
        .controller("controller", ["$scope", "$http", "$sce", function ($scope, $http, $sce) {

            var list = [];
            var options = {
                pre: "<b>",
                post: "</b>",
                extract: function (el) { return el.Route; }
            };

            initialize = function () {
                $http
                    .get("/routes")
                    .then(function (response) {
                        list = response.data;
                    });
            };

            $scope.$watch("input", function (newVal, oldVal) {
                if (newVal && !angular.equals(newVal, oldVal)) {
                    var res = fuzzy
                                .filter($scope.input, list, options)
                                .map(function (item) {
                                    var match = angular.copy(item.original);
                                    match.Route = $sce.trustAsHtml(item.string);
                                    return match;
                                });

                    $scope.results = res;
                }
                else {
                    $scope.results = [];
                }
            });

            initialize();

        }]);
    </script>

</body>

